<!DOCTYPE html>

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'ai/style.css' %}">

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>AI</title>
</head>
<body>
  <div class="description">
    <form action="result">
        Please input Your age:
        <br/>
        <input type="text" name="userage">
        <input type="submit" value="calculate now" class=closebutton>
    </form>
          
  <a href="{% url 'app-home' %}" class=closebutton>Leave AI</a>
        </div>
</body>
</html>
