<!DOCTYPE html>

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'ai/style.css' %}">


<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Result</title>
</head>
<body>
  <div class="description">
The appropriateness inteligence calculted, that the age of your potential sexual partner should be between <strong>
    {% block content %}
        {{result}} 
  and {{result_max}} years.
    {% endblock %}
                                                                                                             
      </strong>
  
  <a href="{% url 'app-home' %}" class=closebutton>Leave AI</a>
  </div>
  
</body>
</html>
