<!DOCTYPE html>

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'ai/style.css' %}">


<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>AI</title>
</head>

<body>

    <div class="description">

Meet <strong>Appropriateness Intelligence (AIv12r3465)</strong>, a modern machine learning engine and a final blockchain solution for everybody, who searching for the right sexual partner. <strong>AIv12r3465</strong> analyzes in real real time millions of social media accounts, to determine what the majority of people thinks right now about an appropriate age difference between sexual partners. Try it for Yourself, calculate the age span of your potential sexual partner right now!


<a href="{% url 'ai' %}" class="launchbutton">Launch AI</a>


    </div>

  </body>
</html>
